.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

.fullName {
    font-weight: bold;
    font-size: 40px;
    max-width: 100%;
    text-align: center;
}

.contactContainer {
    display: flex;
    flex-direction: row;
    max-width: 95%;
    flex-wrap: wrap;
    min-width: 10%;
    min-height: 15px;
}

.contactCard > input{
    margin: 0;
    font-size: 16px;
    text-align: center;
    max-width: 100%;
}

.contactCard {
    padding: 1px;
    border-right: 1px solid black;
    max-width: 100%;
}
