.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.fullName {
    font-weight: bold;
    font-size: 40px;
    max-width: 100%;
    text-align: center;
}

.contactContainer {
    display: flex;
    flex-direction: row;
}

.contactContainer > p {
    margin: 0;
    margin-top: 5px;
}