.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.titleContainer {
    margin: 12px 0 0 0;
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
}

.title {
    padding-bottom: 2px;
    font-size: 18px;
    margin-right: 10px;
}

.container {
    width: 95%;
    display: flex;
    margin: 5px 0 0 0;
}

.skillTitle {
    font-weight: bold;
    font-size: 16px;
    vertical-align: top;
}

.description {
    font-size: 14px;
    width: 95%;
    max-width: 95%;
}
