* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
}

input {
    border: none;
}

input:hover {
    border: 1px solid black;
}

@page {
    size: Letter;
    margin: 0;
}
@media print {
    html, body {
        width: 216mm;
        height: 279mm;        
    }
}